.header {
    color: #343434;
    font-family: urw-din,sans-serif;
    font-weight: 900;
    &:hover {
        color: blue;
    }
}

.header--1 {
    font-size: 4.8rem;
    line-height: 4.8rem;
}

.header--2 {
    font-size: 4rem;
    line-height: 4.4rem;
}

.header--3 {
    font-size: 2.8rem;
    line-height: 3.2rem;
}

.header--4 {
    font-size: 2rem;
    line-height: 2.4rem;
}